<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <ETransactions_Epayment>
            <version>3.0.1</version>
        </ETransactions_Epayment>
    </modules>
    <frontend>
        <translate>
            <modules>
                <ETransactions_Epayment>
                    <files>
                        <default>ETransactions_Epayment.csv</default>
                    </files>
                </ETransactions_Epayment>
            </modules>
        </translate>
        <layout>
            <updates>
                <etep>
                    <file>etep.xml</file>
                </etep>
            </updates>
        </layout>
    	<routers>
            <etep>
                <use>standard</use>
                <args>
                    <module>ETransactions_Epayment</module>
                    <frontName>etransactions</frontName>
                </args>
            </etep>
    	</routers>
    </frontend>
    <global>
        <blocks>
            <etep>
                <class>ETransactions_Epayment_Block</class>
            </etep>
        </blocks>
        <events>
            <sales_order_save_commit_after>
                <observers>
                    <etep_after_order_save>
                        <class>etep/observer</class>
                        <method>onAfterOrderSave</method>
                    </etep_after_order_save>
                </observers>
            </sales_order_save_commit_after>
        </events>
        <helpers>
            <etep>
                <class>ETransactions_Epayment_Helper</class>
            </etep>
        </helpers>
        <models>
            <etep>
                <class>ETransactions_Epayment_Model</class>
                <resourceModel>paypal_resource</resourceModel>
            </etep>
            <etep_resource>
                <class>ETransactions_Epayment_Model_Resource</class>
            </etep_resource>
        </models>
        <resources>
            <etep_setup>
                <setup>
                    <module>ETransactions_Epayment</module>
                    <class>ETransactions_Epayment_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </etep_setup>
            <etep_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </etep_write>
            <etep_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </etep_read>
            <etep_helpers>
                <!-- Helper definition needed by Magento -->
                <class>Mage_Core_Helper</class>
            </etep_helpers>
        </resources>
    </global>
    <crontab>
        <jobs>
            <etep_cron_cancel>
                <schedule>
                    <config_path>etep/cron_expression</config_path>
                </schedule>
                <run>
                    <model>etep/observer::cancelTask</model>
                </run>
            </etep_cron_cancel>

        </jobs>
    </crontab>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <ETransactions_Epayment before="Mage_Adminhtml">ETransactions_Epayment_Adminhtml</ETransactions_Epayment>
                        <direct_invoice before="Mage_Adminhtml">ETransactions_Epayment_Adminhtml</direct_invoice>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <ETransactions_Epayment>
                    <files>
                        <default>ETransactions_Epayment.csv</default>
                    </files>
                </ETransactions_Epayment>
            </modules>
        </translate>
        <layout>
            <updates>
                <etep>
                    <file>etep.xml</file>
                </etep>
            </updates>
        </layout>
        <events>
            <controller_action_layout_load_before>
                <observers>
                    <etep_append>
                        <type>singleton</type>
                        <class>etep/observer</class>
                        <method>addBlockAtEndOfMainContent</method>
                    </etep_append>
                </observers>
            </controller_action_layout_load_before>
            <adminhtml_sales_order_create_process_data_before>
                <observers>
                    <etep_before_admin_order_create>
                        <class>etep/observer_adminCreateOrder</class>
                        <method>onBeforeCreate</method>
                    </etep_before_admin_order_create>
                </observers>
            </adminhtml_sales_order_create_process_data_before>
            <checkout_submit_all_after>
                <observers>
                    <etep_before_admin_order_save>
                        <class>etep/observer_adminCreateOrder</class>
                        <method>onAfterSubmit</method>
                    </etep_before_admin_order_save>
                </observers>
            </checkout_submit_all_after>
        </events>
    </adminhtml>
    <default>
        <etep>
            <environment>TEST</environment>
            <automatic_invoice>0</automatic_invoice>
            <info_to_customer>1</info_to_customer>
            <debug>1</debug>
            <merchant>
                <site>9999999</site>
                <rank>95</rank>
                <identifier>259207933</identifier>
                <default_password>ETRANSACTIONS</default_password>
                <default_hmackey>4642EDBBDFF9790734E673A9974FC9DD4EF40AA2929925C40B3A95170FF5A578E7D2579D6074E28A78BD07D633C0E72A378AD83D4428B0F3741102B69AD1DBB0</default_hmackey>
                <hmacalgo>SHA512</hmacalgo>
                <subscription></subscription>
            </merchant>
            <languages>
                <fr>FRA</fr>
                <es>ESP</es>
                <it>ITA</it>
                <de>DEU</de>
                <nl>NLD</nl>
                <sv>SWE</sv>
                <pt>PRT</pt>
                <default>GBR</default>
            </languages>
            <allowedips>194.2.122.158,195.25.7.166,195.101.99.76,194.2.122.190,195.25.67.22</allowedips>
            <cron_status>1</cron_status>
            <cron_time>10</cron_time>
            <cron_expression>*/15 * * * *</cron_expression>
            <!-- 
            <kwixo>
                <default_carrier_type>4</default_carrier_type>
                <default_carrier_speed>2</default_carrier_speed>
                <default_categorie>1</default_categorie>
            </kwixo> -->
        </etep>
        <payment>
            <etep_cb>
                <active>1</active>
                <model>etep/payment_cb</model>
                <title>Paiement par carte bancaire</title>
                <allowspecific>0</allowspecific>
                <cctypes>CB,VISA,EUROCARD_MASTERCARD,E_CARD</cctypes>
                <status>
                    <paid>etep_paid</paid>
                    <authorized>etep_authorized</authorized>
                </status>
                <action>immediate</action>
                <delay>1</delay>
                <tds_active>always</tds_active>
                <cards>
                    <CB>
                        <label>CB</label>
                        <image>images/etep/cb.45.png</image>
                        <payment>CARTE</payment>
                        <card>CB</card>
                    </CB>
                    <VISA>
                        <label>Visa</label>
                        <image>images/etep/visa.45.png</image>
                        <payment>CARTE</payment>
                        <card>VISA</card>
                    </VISA>
                    <EUROCARD_MASTERCARD>
                        <label>Mastercard</label>
                        <image>images/etep/mastercard.45.png</image>
                        <payment>CARTE</payment>
                        <card>EUROCARD_MASTERCARD</card>
                    </EUROCARD_MASTERCARD>
                    <E_CARD>
                        <label>E-Carte Bleue</label>
                        <image>images/etep/ecartebleue.45.png</image>
                        <payment>CARTE</payment>
                        <card>E_CARD</card>
                    </E_CARD>
                </cards>
            </etep_cb>
            <etep_threetime>
                <active>0</active>
                <model>etep/payment_threetime</model>
                <title>Paiement en trois fois par carte bancaire</title>
                <allowspecific>0</allowspecific>
                <cctypes>CB,VISA,EUROCARD_MASTERCARD,E_CARD</cctypes>
                <status>
                    <intermediary>etep_intermediary</intermediary>
                    <paid>etep_paid</paid>
                </status>
                <action>immediate</action>
                <tds_active>always</tds_active>
                <cards>
                    <CB>
                        <label>CB</label>
                        <image>images/etep/cb.45.png</image>
                        <payment>CARTE</payment>
                        <card>CB</card>
                    </CB>
                    <VISA>
                        <label>Visa</label>
                        <image>images/etep/visa.45.png</image>
                        <payment>CARTE</payment>
                        <card>VISA</card>
                    </VISA>
                    <EUROCARD_MASTERCARD>
                        <label>Mastercard</label>
                        <image>images/etep/mastercard.45.png</image>
                        <payment>CARTE</payment>
                        <card>EUROCARD_MASTERCARD</card>
                    </EUROCARD_MASTERCARD>
                    <E_CARD>
                        <label>E-Carte Bleue</label>
                        <image>images/etep/ecartebleue.45.png</image>
                        <payment>CARTE</payment>
                        <card>E_CARD</card>
                    </E_CARD>
                </cards>
            </etep_threetime>
            <etep_private>
                <active>0</active>
                <model>etep/payment_private</model>
                <title>Paiement par carte privative</title>
                <allowspecific>0</allowspecific>
                <status>
                    <authorized>etep_authorized</authorized>
                    <paid>etep_paid</paid>
                </status>
                <action>immediate</action>
                <delay>1</delay>
                <cards>
                    <AMEX>
                        <label>American Express</label>
                        <image>images/etep/amex.45.png</image>
                        <payment>CARTE</payment>
                        <card>AMEX</card>
                    </AMEX>
                    <DINERS>
                        <label>Diners</label>
                        <image>images/etep/diners.45.png</image>
                        <payment>CARTE</payment>
                        <card>DINERS</card>
                    </DINERS>
                    <JCB>
                        <label>JCB</label>
                        <image>images/etep/jcb.45.png</image>
                        <payment>CARTE</payment>
                        <card>JCB</card>
                    </JCB>
                </cards>
            </etep_private>
            <etep_paypal>
                <active>0</active>
                <model>etep/payment_paypal</model>
                <title>Paiement par Paypal</title>
                <allowspecific>0</allowspecific>
                <action>immediate</action>
                <status>
                    <authorized>etep_authorized</authorized>
                    <paid>etep_paid</paid>
                </status>
                <cards>
                    <card1>
                        <label>Paypal</label>
                        <image>images/etep/paypal.45.png</image>
                        <payment>PAYPAL</payment>
                        <card>PAYPAL</card>
                    </card1>
                </cards>
            </etep_paypal>
            <etep_paylib>
                <active>0</active>
                <model>etep/payment_paylib</model>
                <title>Paiement par Paylib</title>
                <allowspecific>0</allowspecific>
                <action>immediate</action>
                <status>
                    <authorized>etep_authorized</authorized>
                    <paid>etep_paid</paid>
                </status>
                <cards>
                    <PAYLIB>
                        <label>Paylib</label>
                        <image>images/etep/paylib.45.png</image>
                        <payment>WALLET</payment>
                        <card>PAYLIB</card>
                    </PAYLIB>
                </cards>
            </etep_paylib>
            <etep_prepaid>
                <active>0</active>
                <model>etep/payment_prepaid</model>
                <title>Paiement par cagnotte ou ticket prépayé</title>
                <allowspecific>0</allowspecific>
                <action>immediate</action>
                <status>
                    <authorized>etep_authorized</authorized>
                    <paid>etep_paid</paid>
                </status>
                <cards>
                    <LEETCHI>
                        <label>Leetchi</label>
                        <image>images/etep/leetchi.45.png</image>
                        <payment>LEETCHI</payment>
                        <card>LEETCHI</card>
                    </LEETCHI>
                    <PSC>
                        <label>Paysafecard</label>
                        <image>images/etep/paysafecard.45.png</image>
                        <payment>PREPAYEE</payment>
                        <card>PSC</card>
                    </PSC>
                </cards>
            </etep_prepaid>
             <etep_financial>
                <active>0</active>
                <model>etep/payment_financial</model>
                <title>Paiement par carte et moyen de financement</title>
                <allowspecific>0</allowspecific>
                <action>immediate</action>
                <status>
                    <authorized>etep_authorized</authorized>
                    <paid>etep_paid</paid>
                </status>
                <cards>
                    <COFINOGA>
                        <label>Carte Cofinoga</label>
                        <image>images/etep/cofinoga.45.png</image>
                        <payment>CARTE</payment>
                        <card>COFINOGA</card>
                    </COFINOGA>
                    <AURORE>
                        <label>Carte Aurore</label>
                        <image>images/etep/aurore.45.png</image>
                        <payment>CARTE</payment>
                        <card>AURORE</card>
                    </AURORE>
                    <UNEURO>
                        <label>1euro.com</label>
                        <image>images/etep/1euro.45.png</image>
                        <payment>CREDIT</payment>
                        <card>UNEURO</card>
                    </UNEURO>
                </cards>
            </etep_financial>
            <etep_bcmc>
                <active>0</active>
                <model>etep/payment_bcmc</model>
                <title>Paiement par Bancontact/Mistercash</title>
                <allowspecific>0</allowspecific>
                <action>immediate</action>
                <status>
                    <authorized>etep_authorized</authorized>
                    <paid>etep_paid</paid>
                </status>
                <tds_active>always</tds_active>
                <cards>
                    <BCMC>
                        <label>Bancontact/Mistercash</label>
                        <image>images/etep/none.45.png</image>
                        <payment>CARTE</payment>
                        <card>BCMC</card>
                    </BCMC>
                </cards>
            </etep_bcmc>
            <etep_maestro>
                <active>0</active>
                <model>etep/payment_maestro</model>
                <title>Paiement par carte Maestro</title>
                <allowspecific>0</allowspecific>
                <action>immediate</action>
                <delay>1</delay>
                <status>
                    <authorized>etep_authorized</authorized>
                    <paid>etep_paid</paid>
                </status>
                <tds_active>always</tds_active>
                <cards>
                    <MAESTRO>
                        <label>Carte Maestro</label>
                        <image>images/etep/maestro.png</image>
                        <payment>CARTE</payment>
                        <card>MAESTRO</card>
                    </MAESTRO>
                </cards>
            </etep_maestro>
            <etep_paybuttons>
                <active>0</active>
                <model>etep/payment_paybuttons</model>
                <title>Paiement par Paybutton</title>
                <allowspecific>0</allowspecific>
                <action>immediate</action>
                <status>
                    <authorized>etep_authorized</authorized>
                    <paid>etep_paid</paid>
                </status>
                <cards>
                    <IDEAL>
                        <label>iDEAL</label>
                        <image>images/etep/ideal.45.png</image>
                        <payment>PREPAYEE</payment>
                        <card>IDEAL</card>
                    </IDEAL>
                    <PAYBUTTING>
                        <label>ING HomePay</label>
                        <image>images/etep/paybutting.45.png</image>
                        <payment>PAYBUTTONS</payment>
                        <card>PAYBUTTING</card>
                    </PAYBUTTING>
                </cards>
            </etep_paybuttons>
            <etep_kwixo_standard>
                <active>0</active>
                <model>etep/payment_kwixo_standard</model>
                <title>Paiement par carte bancaire avec Kwixo</title>
                <allowspecific>0</allowspecific>
                <action>immediate</action>
                <status>
                    <authorized>etep_authorized</authorized>
                    <paid>etep_paid</paid>
                </status>
                <cards>
                    <STANDARD>
                        <label>Kwixo</label>
                        <image>images/etep/kwixo_standard.45.png</image>
                        <payment>KWIXO</payment>
                        <card>STANDARD</card>
                    </STANDARD>
                </cards>
            </etep_kwixo_standard>
            <etep_kwixo_onexrnp>
                <active>0</active>
                <model>etep/payment_kwixo_onexrnp</model>
                <title>Paiement à la réception avec Kwixo</title>
                <allowspecific>0</allowspecific>
                <action>immediate</action>
                <status>
                    <authorized>etep_authorized</authorized>
                    <paid>etep_paid</paid>
                </status>
                <cards>
                    <XRNP>
                        <label>Kwixo</label>
                        <image>images/etep/kwixo_standard.45.png</image>
                        <payment>KWIXO</payment>
                        <card>1XRNP</card>
                    </XRNP>
                </cards>
            </etep_kwixo_onexrnp>
            <etep_kwixo_credit>
                <active>0</active>
                <model>etep/payment_kwixo_onexrnp</model>
                <title>Paiement en plusieurs fois avec Kwixo</title>
                <allowspecific>0</allowspecific>
                <action>immediate</action>
                <status>
                    <authorized>etep_authorized</authorized>
                    <paid>etep_paid</paid>
                </status>
                <cards>
                    <CREDIT>
                        <label>Kwixo</label>
                        <image>images/etep/kwixo_standard.45.png</image>
                        <payment>KWIXO</payment>
                        <card>CREDIT</card>
                    </CREDIT>
                </cards>
            </etep_kwixo_credit>
        </payment>
    </default>
</config>
